<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wd.doctor">
    <uses-permission android:name="android.permission.ACCEPT_HANDOVER"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/caishe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LiWuActivity"></activity>
        <activity android:name=".activity.WenZhenJiLuActivity" />
        <activity android:name=".activity.PingJiaXiangQingActivity" />
        <activity android:name=".activity.LiShiJILuActivity" />
        <activity
            android:name=".activity.LiaoTianActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".activity.YinHangKaActivity" />
        <activity android:name=".activity.ShenFenZhengActivity" />
        <activity android:name=".activity.BangDingActivity" />
        <activity android:name=".activity.ImagePhotoActivity" />
        <activity android:name=".activity.ChaiNaActivity" />
        <activity android:name=".activity.HuiFuActivity" />
        <activity android:name=".activity.TiActivity" />
        <activity android:name=".activity.TiXianActivity" />
        <activity android:name=".activity.MoneyBaoActivity" />
        <activity android:name=".activity.RuZhangXiaoXiActivity" />
        <activity android:name=".activity.WenXiaoXiActivity" />
        <activity android:name=".activity.XiTongActivity" />
        <activity android:name=".activity.XiaoXiActivity" />
        <activity android:name=".activity.XiuGaiActivity" />
        <activity android:name=".activity.WangJiActivity" />
        <activity android:name=".activity.MoHuChaActivity" />
        <activity android:name=".activity.BingXiangQingActivity" />
        <activity android:name=".activity.ZhiLiaoActivity" />
        <activity android:name=".activity.WenZhenActivity" />
        <activity android:name=".activity.DaYiActivity" />
        <activity android:name=".activity.GuanLiActivity" />
        <activity android:name=".activity.WanChengActivity" />
        <activity android:name=".activity.GeRenXinXiActivity" />
        <activity android:name=".activity.ShenQingActivity" />
        <activity android:name=".activity.RuZhuActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.DengActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />


        <service
            android:name="servive.XService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore"
            >
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>


    </application>

</manifest>